@import url('https://fonts.googleapis.com/css2?family=Mooli&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  margin: 0;
  padding: auto;
}
body{
  font-family: 'Mooli', sans-serif;
/* font-family: 'PT Sans', sans-serif; */
background-image: url('../src/assets/images/hero-bg.png'); 
}
li .active{
  color: blue;
}

